{% extends 'blog/base.html' %}

{% block content %}
    
    <div class="post-entry">
        <h3><a href="">
            {{object.title}}
        </a></h3>
        <p>
            {{object.body}}
        </p>
        <p>{{object.author}}</p>
        <p>ID поста {{object.id}}</p>

    </div>
    <a href="{% url 'blog_post_edit' post.pk %}">
        <button class='btn-update'>Update Post</button>
    </a>
    <a href="{% url 'blog_post_delete' post.pk %}">
        <button class='btn-delete'>Delete Post</button>
    </a>

{% endblock %}